<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cx.ad.dao.AdUnitMapper">

    <resultMap type="com.cx.ad.entity.AdUnit" id="AdUnitMap">
        <result property="id" column="id" jdbcType="INTEGER"/>
        <result property="planId" column="plan_id" jdbcType="INTEGER"/>
        <result property="unitName" column="unit_name" jdbcType="VARCHAR"/>
        <result property="unitStatus" column="unit_status" jdbcType="OTHER"/>
        <result property="positionType" column="position_type" jdbcType="OTHER"/>
        <result property="budget" column="budget" jdbcType="INTEGER"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <!--查询单个-->
    <select id="queryById" resultMap="AdUnitMap">
        select
          id, plan_id, unit_name, unit_status, position_type, budget, create_time, update_time
        from ad-data.ad_unit
        where id = #{id}
    </select>

    <!--查询指定行数据-->
    <select id="queryAllByLimit" resultMap="AdUnitMap">
        select
          id, plan_id, unit_name, unit_status, position_type, budget, create_time, update_time
        from ad-data.ad_unit
        limit #{offset}, #{limit}
    </select>

    <!--通过实体作为筛选条件查询-->
    <select id="queryAll" resultMap="AdUnitMap">
        select
          id, plan_id, unit_name, unit_status, position_type, budget, create_time, update_time
        from ad-data.ad_unit
        <where>
            <if test="id != null">
                and id = #{id}
            </if>
            <if test="planId != null">
                and plan_id = #{planId}
            </if>
            <if test="unitName != null and unitName != ''">
                and unit_name = #{unitName}
            </if>
            <if test="unitStatus != null">
                and unit_status = #{unitStatus}
            </if>
            <if test="positionType != null">
                and position_type = #{positionType}
            </if>
            <if test="budget != null">
                and budget = #{budget}
            </if>
            <if test="createTime != null">
                and create_time = #{createTime}
            </if>
            <if test="updateTime != null">
                and update_time = #{updateTime}
            </if>
        </where>
    </select>

    <!--新增所有列-->
    <insert id="insert" keyProperty="id" useGeneratedKeys="true">
        insert into ad-data.ad_unit(plan_id, unit_name, unit_status, position_type, budget, create_time, update_time)
        values (#{planId}, #{unitName}, #{unitStatus}, #{positionType}, #{budget}, #{createTime}, #{updateTime})
    </insert>

    <!--通过主键修改数据-->
    <update id="update">
        update ad-data.ad_unit
        <set>
            <if test="planId != null">
                plan_id = #{planId},
            </if>
            <if test="unitName != null and unitName != ''">
                unit_name = #{unitName},
            </if>
            <if test="unitStatus != null">
                unit_status = #{unitStatus},
            </if>
            <if test="positionType != null">
                position_type = #{positionType},
            </if>
            <if test="budget != null">
                budget = #{budget},
            </if>
            <if test="createTime != null">
                create_time = #{createTime},
            </if>
            <if test="updateTime != null">
                update_time = #{updateTime},
            </if>
        </set>
        where id = #{id}
    </update>

    <!--通过主键删除-->
    <delete id="deleteById">
        delete from ad-data.ad_unit where id = #{id}
    </delete>

</mapper>